<link href="/css/timeline.css" rel="stylesheet">

<!--/#header-->


<section id="page-breadcrumb" >
    <div class="vertical-center sun">
        <div class="container">
            <div class="row" style="box-shadow:0 0 5px 2px grey; padding:10 10 10 10">
                <div class="action">
                    <div class="col-sm-12 col-lg-12 col-md-12">
                        <h1><img style="width: 108px;height:23px ;" src="/images/logo.png" alt="logo"></h1>
                        <h1 class="title">CSS <strong>Customer Story</strong></h1>
                        <p style="font-family:Helvetica Neue,Helvetica,Arial,sans-serif; font-weight: 400;font-size:16px">The weekly Customer Story describes the story about the latest kudos case from CSS Voice of the Customer, to recognize the engineer who was celebrated by our customers for delivering outstanding support. Customer Story is aligned with the Microsoft Customer Experience Framework (CXF) and encourages everyone to perform better with customer obsession.

                        </p>
                    </div>
                    <a href="/" style="font-family: 'Lato', sans-serif;font-size: 20px;font-weight: 500;margin-top:50px;margin-left: 80%;"><u style="font-style: italic;">Back to home page...</u></a>
                    </div>
                   
                </div>
            </div>
    </div>
    </div>
</section>

<div class="page">
    <div></div>
  <div class="timeline">
    <div class="timeline__group">
      <span class="timeline__year time" aria-hidden="true"> Latest Week</span>
      <div class="timeline__cards">
        <div class="timeline__card card">
            <header class="card__header">
              <time class="time" datetime="">
                <span class="time__day"><%=list[0].Date%></span>
              </time>
              <div style="display:inline;float:right;z-index:100000;">
                <img  style="width:100px;" src="/images/weekstar.jpg">
            </header>
              <div class="WordSection1 box" style="height:auto;min-height:200px;width:1000px; margin-bottom: 10px; margin-left: 30px; border:solid #2F5496 1.0pt;border-radius: 2em;">
                  <table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0
               style='border-collapse:collapse;mso-yfti-tbllook:1184;mso-padding-alt:0cm 0cm 0cm 0cm'>
               <tr style='mso-yfti-irow:0;mso-yfti-firstrow:yes;mso-yfti-lastrow:yes'>
                <td width=664 valign=top style='width:700pt;
                border-right:none;padding:0cm 0cm 0cm 11.35pt'>
                <p class=MsoNormal><b><span lang=EN-US style='font-size:14.0pt;font-family:
                "Segoe UI",sans-serif;mso-effects-glow-color:black;mso-effects-glow-alpha:
                98.0%;mso-effects-glow-rad:0pt;mso-effects-shadow-color:black;mso-effects-shadow-alpha:
                43.13%;mso-effects-shadow-dpiradius:4.0pt;mso-effects-shadow-dpidistance:
                4.0pt;mso-effects-shadow-angledirection:5400000;mso-effects-shadow-align:
                center;mso-effects-shadow-pctsx:0%;mso-effects-shadow-pctsy:0%;mso-effects-shadow-anglekx:
                0;mso-effects-shadow-angleky:0'><o:p>&nbsp;</o:p></span></b></p>
                <p class=MsoNormal><b><span lang=EN-US style='font-size:14.0pt;font-family:
                "Segoe UI",sans-serif;color:#2E75B6;mso-effects-glow-color:black;mso-effects-glow-alpha:
                98.0%;mso-effects-glow-rad:0pt;mso-effects-shadow-color:black;mso-effects-shadow-alpha:
                43.13%;mso-effects-shadow-dpiradius:4.0pt;mso-effects-shadow-dpidistance:
                4.0pt;mso-effects-shadow-angledirection:5400000;mso-effects-shadow-align:
                center;mso-effects-shadow-pctsx:0%;mso-effects-shadow-pctsy:0%;mso-effects-shadow-anglekx:
                0;mso-effects-shadow-angleky:0'><%=list[0].Tag%><o:p></o:p></span></b></p>
               
                <%=list[0].Story%><o:p></o:p></span></p>
                
                <p class=MsoNormal><b><i><span lang=EN-US style='font-size:10.0pt;font-family:
                "Segoe UI",sans-serif;color:#1F4E79;mso-effects-glow-color:black;mso-effects-glow-alpha:
                98.0%;mso-effects-glow-rad:0pt;mso-effects-shadow-color:black;mso-effects-shadow-alpha:
                43.13%;mso-effects-shadow-dpiradius:4.0pt;mso-effects-shadow-dpidistance:
                4.0pt;mso-effects-shadow-angledirection:5400000;mso-effects-shadow-align:
                center;mso-effects-shadow-pctsx:0%;mso-effects-shadow-pctsy:0%;mso-effects-shadow-anglekx:
                0;mso-effects-shadow-angleky:0'><%=list[0].CustomerVoice%><o:p></o:p></span></i></b></p>
          
                <div class="post-thumb myphoto">
                  <%for(var j=0;j<list[0].Badge.length;j++){%>
                  <img src="<%=list[0].Badge[j]%>" style="float: left;width: 70px;" id="origin-img">
                  <%}%>
              </div>
                </td>
                <td width=176 valign=top style='width:132.05pt;
                border-left:none;padding:0cm 0cm 0cm 11.35pt'>
                <p class=MsoNormal><b><span lang=EN-US style='font-size:11.0pt;font-family:
                "Segoe UI",sans-serif;mso-effects-glow-color:black;mso-effects-glow-alpha:
                98.0%;mso-effects-glow-rad:0pt;mso-effects-shadow-color:black;mso-effects-shadow-alpha:
                43.13%;mso-effects-shadow-dpiradius:4.0pt;mso-effects-shadow-dpidistance:
                4.0pt;mso-effects-shadow-angledirection:5400000;mso-effects-shadow-align:
                center;mso-effects-shadow-pctsx:0%;mso-effects-shadow-pctsy:0%;mso-effects-shadow-anglekx:
                0;mso-effects-shadow-angleky:0'><o:p>&nbsp;</o:p></span></b></p>
                <p class=MsoNormal><b><span lang=EN-US style='font-size:11.0pt;font-family:
                "Segoe UI",sans-serif;mso-effects-glow-color:black;mso-effects-glow-alpha:
                98.0%;mso-effects-glow-rad:0pt;mso-effects-shadow-color:black;mso-effects-shadow-alpha:
                43.13%;mso-effects-shadow-dpiradius:4.0pt;mso-effects-shadow-dpidistance:
                4.0pt;mso-effects-shadow-angledirection:5400000;mso-effects-shadow-align:
                center;mso-effects-shadow-pctsx:0%;mso-effects-shadow-pctsy:0%;mso-effects-shadow-anglekx:
                0;mso-effects-shadow-angleky:0'><o:p>&nbsp;</o:p></span></b></p>
                <p class=MsoNormal><b><span lang=EN-US style='font-size:11.0pt;font-family:
                "Segoe UI",sans-serif;mso-effects-glow-color:black;mso-effects-glow-alpha:
                98.0%;mso-effects-glow-rad:0pt;mso-effects-shadow-color:black;mso-effects-shadow-alpha:
                43.13%;mso-effects-shadow-dpiradius:4.0pt;mso-effects-shadow-dpidistance:
                4.0pt;mso-effects-shadow-angledirection:5400000;mso-effects-shadow-align:
                center;mso-effects-shadow-pctsx:0%;mso-effects-shadow-pctsy:0%;mso-effects-shadow-anglekx:
                0;mso-effects-shadow-angleky:0'><o:p>&nbsp;</o:p></span></b></p>
                <p class=MsoNormal><span lang=EN-US style='font-family:"Segoe UI",sans-serif'>
                <img src="/photos/<%=list[0].Engineer%>.jpg"
                style='width:1.083in;height:auto;border-radius: 5px;' v:shapes="Picture_x0020_1"><![endif]></span><b><span
                lang=EN-US style='font-size:11.0pt;font-family:"Segoe UI",sans-serif;
                mso-effects-glow-color:black;mso-effects-glow-alpha:98.0%;mso-effects-glow-rad:
                0pt;mso-effects-shadow-color:black;mso-effects-shadow-alpha:43.13%;
                mso-effects-shadow-dpiradius:4.0pt;mso-effects-shadow-dpidistance:4.0pt;
                mso-effects-shadow-angledirection:5400000;mso-effects-shadow-align:center;
                mso-effects-shadow-pctsx:0%;mso-effects-shadow-pctsy:0%;mso-effects-shadow-anglekx:
                0;mso-effects-shadow-angleky:0'><o:p></o:p></span></b></p>
                </td>
               </tr>
              </table>
              </div>    
          </div>
          <span class="timeline__year time" aria-hidden="true" style="width: 43;height:16;padding-left: 10px;padding-right: 30px;margin-bottom: 0px;">Historical</span>
        <div class="masonery_area">
            <%for(var i=1;i<list.length;i++){%>
          <div class="cardbox">
          <header class="card__header">
            <time class="time" datetime="">
              <span class="time__day"><%=list[i].Date%></span>
            </time>
          </header>
            <div class="WordSection1 box" style="height:auto;min-height:200px;width:1000px; margin-bottom: 10px; margin-left: 30px; border:solid #2F5496 1.0pt;border-radius: 2em;">
                <table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0
             style='border-collapse:collapse;mso-yfti-tbllook:1184;mso-padding-alt:0cm 0cm 0cm 0cm'>
             <tr style='mso-yfti-irow:0;mso-yfti-firstrow:yes;mso-yfti-lastrow:yes'>
              <td width=664 valign=top style='width:700pt;
              border-right:none;padding:0cm 0cm 0cm 11.35pt'>
              <p class=MsoNormal><b><span lang=EN-US style='font-size:14.0pt;font-family:
              "Segoe UI",sans-serif;'><o:p>&nbsp;</o:p></span></b></p>
              <p class=MsoNormal><b><span lang=EN-US style='font-size:14.0pt;font-family:
              "Segoe UI",sans-serif;color:#2E75B6;'><%=list[i].Tag%></span></b></p>
             
              <%=list[i].Story%><o:p></o:p></span></p>
              
              <p class=MsoNormal><b><i><span lang=EN-US style='font-size:10.0pt;font-family:
              "Segoe UI",sans-serif;color:#1F4E79;'><%=list[i].CustomerVoice%><o:p></o:p></span></i></b></p>
        
              <div class="post-thumb myphoto">
                <%for(var j=0;j<list[i].Badge.length;j++){%>
                <img src="<%=list[i].Badge[j]%>" style="float: left;width: 70px;" id="origin-img">
                <%}%>
            </div>
              </td>
              <td width=176 valign=top style='width:132.05pt;
              border-left:none;padding:0cm 0cm 0cm 11.35pt'>
              <p class=MsoNormal><b><span lang=EN-US style='font-size:11.0pt;font-family:
              "Segoe UI",sans-serif;mso-effects-glow-color:black;mso-effects-glow-alpha:
              98.0%;mso-effects-glow-rad:0pt;mso-effects-shadow-color:black;mso-effects-shadow-alpha:
              43.13%;mso-effects-shadow-dpiradius:4.0pt;mso-effects-shadow-dpidistance:
              4.0pt;mso-effects-shadow-angledirection:5400000;mso-effects-shadow-align:
              center;mso-effects-shadow-pctsx:0%;mso-effects-shadow-pctsy:0%;mso-effects-shadow-anglekx:
              0;mso-effects-shadow-angleky:0'><o:p>&nbsp;</o:p></span></b></p>
              <p class=MsoNormal><b><span lang=EN-US style='font-size:11.0pt;font-family:
              "Segoe UI",sans-serif;mso-effects-glow-color:black;mso-effects-glow-alpha:
              98.0%;mso-effects-glow-rad:0pt;mso-effects-shadow-color:black;mso-effects-shadow-alpha:
              43.13%;mso-effects-shadow-dpiradius:4.0pt;mso-effects-shadow-dpidistance:
              4.0pt;mso-effects-shadow-angledirection:5400000;mso-effects-shadow-align:
              center;mso-effects-shadow-pctsx:0%;mso-effects-shadow-pctsy:0%;mso-effects-shadow-anglekx:
              0;mso-effects-shadow-angleky:0'><o:p>&nbsp;</o:p></span></b></p>
              <p class=MsoNormal><b><span lang=EN-US style='font-size:11.0pt;font-family:
              "Segoe UI",sans-serif;mso-effects-glow-color:black;mso-effects-glow-alpha:
              98.0%;mso-effects-glow-rad:0pt;mso-effects-shadow-color:black;mso-effects-shadow-alpha:
              43.13%;mso-effects-shadow-dpiradius:4.0pt;mso-effects-shadow-dpidistance:
              4.0pt;mso-effects-shadow-angledirection:5400000;mso-effects-shadow-align:
              center;mso-effects-shadow-pctsx:0%;mso-effects-shadow-pctsy:0%;mso-effects-shadow-anglekx:
              0;mso-effects-shadow-angleky:0'><o:p>&nbsp;</o:p></span></b></p>
              <p class=MsoNormal><span lang=EN-US style='font-family:"Segoe UI",sans-serif'>
              <img src="/photos/<%=list[i].Engineer%>.jpg"
              style='width:1.083in;height:auto;border-radius: 5px;' v:shapes="Picture_x0020_1"><![endif]></span><b><span
              lang=EN-US style='font-size:11.0pt;font-family:"Segoe UI",sans-serif;
              mso-effects-glow-color:black;mso-effects-glow-alpha:98.0%;mso-effects-glow-rad:
              0pt;mso-effects-shadow-color:black;mso-effects-shadow-alpha:43.13%;
              mso-effects-shadow-dpiradius:4.0pt;mso-effects-shadow-dpidistance:4.0pt;
              mso-effects-shadow-angledirection:5400000;mso-effects-shadow-align:center;
              mso-effects-shadow-pctsx:0%;mso-effects-shadow-pctsy:0%;mso-effects-shadow-anglekx:
              0;mso-effects-shadow-angleky:0'><o:p></o:p></span></b></p>
              </td>
             </tr>
            </table>
            </div>
          </div>    
            <%}%>
        </div>
        <div class="timeline__card card row cardlist">Loading data, please wait ...</div>
        <div style="text-align: center" class="fuqin">
            <a href="javascript:;" style="width: 538px;display: inline-block;color: #337ab7;" class="load_more" onClick="jq22.loadMore();"><b>Load More</b></a></div>
    </div>
      </div>
    </div>
  </div>
</div>
<footer style="background-color: #333;font-size: 12px;color: white;height: 90px" role="contentinfo">
  <div >
      <div class="copyright-text " style="text-align: center;">
          <p >© Your Company 2020. All Rights Reserved.</p>
          <p style="margin-top: 0px;">Designed by CSS Developer</p>

          <img src="images/microsoft-logo.png" height="20" >
          <!--                        <img class="microsoft-logo-inverted" src="images/microsoft-logo-inverted.png" height="20" alt="Microsoft homepage">-->
      </div>
      <!--                <span style="float: right;padding-right: 30px">© 2020| Microsoft</span>-->

  </div>


</footer>

<!--Readmore script-->
<script type="text/javascript" src="/js/jquery.js"></script>
<script>
  var _content = []; //临时存储li循环内容
  var jq22 = {
      _default: 2, 
      _loading: 2, 
      init: function() {
          var lis = $("div.cardbox");
          $("div.cardlist").html("");
          for(var n = 0; n < jq22._default; n++) {
              lis.eq(n).appendTo("div.cardlist");
          }
          
          for(var i = jq22._default; i < lis.length; i++) {
              _content.push(lis.eq(i));  //尾部添加
          }
          $(".masonery_area").html("");
      },
      loadMore: function() {
          // var mLis = $(".jq22 ul.list li").length;
          for(var i = 0; i < jq22._loading; i++) {
              var target = _content.shift();   //首部删除
              if(!target) {   //target为空
                  $('div.fuqin').html("<p>All data is loaded ...</p>");
                  break;
              }
              $("div.cardlist").append(target);

          }
          //固定每个coldiv的高度,防止错位
          // var arr = new Array();
          // $('div .col-lg-3').each(function(i){
          //     arr[i] = $(this).outerHeight();
          // });

          // if($(window).width() >= 1024){  //只有大于1024px才需要
          //     $('div .col-lg-3').height(Math.max.apply(null,arr));
          // }
      }
  }
  jq22.init();
</script>
